*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Inter,sans-serif;
}


/* Main Container */

.forgot-container{

  min-height:100vh;

  display:flex;

  justify-content:center;

  align-items:center;

  padding:20px;

  background:
  linear-gradient(
    135deg,
    #0f172a,
    #1e293b,
    #312e81
  );

}



/* Card */

.forgot-card{

  width:950px;

  display:flex;

  overflow:hidden;

  border-radius:28px;

  background:
  rgba(
    255,
    255,
    255,
    .08
  );

  backdrop-filter:
  blur(18px);


  box-shadow:

  0 25px 60px
  rgba(
    0,
    0,
    0,
    .35
  );

}



/* Left Image */

.forgot-left{

  flex:1;

  position:relative;

  background:
  url(
  "https://images.unsplash.com/photo-1522202176988-66273c2fd55f"
  );

  background-size:cover;

  background-position:center;

}



/* Overlay */

.forgot-overlay{

  position:absolute;

  inset:0;

  padding:50px;

  display:flex;

  flex-direction:column;

  justify-content:end;

  color:white;

  background:
  linear-gradient(
    rgba(0,0,0,.25),
    rgba(0,0,0,.85)
  );

}



.forgot-overlay h1{

  font-size:42px;

  margin-bottom:15px;

  font-weight:800;

}



.forgot-overlay p{

  max-width:350px;

  color:#e5e7eb;

  line-height:1.7;

}



/* Right Form */

.forgot-right{

  flex:1;

  padding:60px;

  display:flex;

  flex-direction:column;

  justify-content:center;

}



.forgot-right h2{

  text-align:center;

  color:white;

  font-size:32px;

  margin-bottom:25px;

}



/* Form */

.forgot-form{

  display:flex;

  flex-direction:column;

  gap:10px;

}



.forgot-form input{

  padding:16px;

  border:none;

  outline:none;

  border-radius:14px;

  background:

  rgba(
    255,
    255,
    255,
    .1
  );

  color:white;

  font-size:15px;

}



.forgot-form input::placeholder{

  color:#cbd5e1;

}



/* Validation Error */

.forgot-error{

  color:#ff7d7d;

  font-size:13px;

  margin-top:-5px;

}



/* Update Button */

.forgot-button{

  margin-top:10px;

  height:50px;

  border:none;

  border-radius:14px;

  cursor:pointer;

  color:white;

  font-size:17px;

  background:

  linear-gradient(
    90deg,
    #2563eb,
    #9333ea
  );

  transition:.3s;

}



.forgot-button:hover{

  transform:
  translateY(-2px);

}



/* Back Login */

.forgot-link{

  text-align:center;

  margin-top:20px;

}



.forgot-link a{

  color:#60a5fa;

  text-decoration:none;

}



.forgot-link a:hover{

  color:white;

}



/* Responsive */

@media(max-width:768px){

  .forgot-card{

    width:95%;

    flex-direction:column;

  }


  .forgot-left{

    height:300px;

  }


  .forgot-right{

    padding:35px;

  }


  .forgot-overlay{

    padding:25px;

  }


  .forgot-overlay h1{

    font-size:32px;

  }

}