
.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background: #FFF8F0;
}

.dashboard-page {
  margin-left: 240px; /* sidebar width */
  width: calc(100% - 240px);

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 30px;
  overflow-y: auto;
}