/* ===== Global Reset ===== */
@import "tailwindcss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== HTML ===== */

html {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #f6f8fc;
}

/* ===== BODY ===== */

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;

  font-family: "Poppins", sans-serif;

  background: #f6f8fc;
  color: #1f2937;
}

/* ===== ROOT ===== */

#root {
  width: 100%;
  min-height: 100vh;
  background: #f6f8fc;
}

/* ===== Main App Background ===== */

#root,
#root > div {
  background: #f6f8fc;
}

/* ===== Images ===== */

img,
video {
  max-width: 100%;
  display: block;
}

/* ===== Links ===== */

a {
  text-decoration: none;
  color: inherit;
}

/* ===== Buttons ===== */

button {
  font-family: inherit;
}

/* ===== Inputs ===== */

input,
textarea,
button,
select {
  font: inherit;
}